@{ 
    ViewData["Title"] = "このアプリの製作者";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>製作者名：</strong>たくのろじぃ (Takunology) <br />
    <strong>　　職業：</strong>学生 <br />
    <strong>　　一言：</strong>C# 最高です。<br />
    <br />
    <strong>- このアプリについて -</strong><br />
    フレームワークは ASP.NET Core 2.1 を使用<br />
    データベースは MariaDB 10.3.16 (WindowsVer) を使用<br />
</address>

<address>
    <strong>メールアドレス(個人)：</strong> <a href="hogehoge@gmail.com">hogehoge@gmail.com</a><br />
</address>